# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# Environment
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.tar

# Data (keep folders, ignore contents)
datasets/*
!datasets/.gitkeep

Projects/*
!Projects/.gitkeep